@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

*{
    font-family: 'Nunito', sans-serif; 
}

.boton{
background: #31384a;
color: #fff;
padding: 10px;
}

.contenedorImg {
    display: flex;
    justify-content: space-between;
}

.imgCircular {
    border-radius: 50%;
    border: 2px solid #023047;
    width: 50%;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15)!important;
}

.pt-3 {
    padding-top: 1rem!important;
}